* {
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
}

.row {
  display: flex;
  width: 100%;
  margin: 1.5rem;
}

table {
  border: solid black 1px;
  padding: 1rem;
}

header {
  font-size: 30px;
}

.column-full,
.column-half {
  width: 100%;
}

.hidden {
  display: none !important;
}

tr:nth-child(odd) {
  background-color: blueviolet;
}

th {
  background-color: white;
}
