* {
  box-sizing: border-box;
  margin: 0;
}

header {
  text-align: center;
}

h2 {
  text-align: center;
  margin: 2rem;
}

.column-full {
  display: flex;
  justify-content: center;
}

table {
  empty-cells: show;
  width: 80%;
  border: lightgrey;
  border: solid 1px;
}

th {
  background-color: #fff;
  text-align: left;
}

td {
  height: 1rem;
}

tr:nth-child(odd) {
  background-color: #d2d2d2;
}

.days-scroll {
  margin-bottom: 0.5rem;
}

#days {
  margin-bottom: 2rem;
}

.column-select {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.column-button {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.container-modal {
  width: 300px;
  border: solid black 1px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
